// cores
$bg-color: rgba(255, 255, 255, 1);  /* #f5f5f5 */
$txt-color: rgba(112, 112, 112, 1) ; /* #707070*/
$tit-color: rgba(48, 48, 48, 1); /* #303030*/
$link-color: rgba(156, 184, 3, 1) ; /*#9CB803*/
$txt-subtitle:rgba(126, 126, 126, 1); /* #7e7e7e */
$bg-hastags: rgba(176, 206, 9, 0.15); /*#B0CE09*/
$bg-footer: rgba(176, 206, 9, 1);/*#B0CE09*/
$txt-footer: rgba(55, 55, 55, 1);  /* #373737 */